<div class="container py-2">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-sm border-0">
          <div class="card-body p-5">
            <h2 class="text-center mb-4 pb-2 position-relative">
              Rólunk
              <span
                class="position-absolute start-0 bottom-0 w-100"
                style="height: 3px; background: linear-gradient(90deg, rgba(113, 44, 249, 0.95), transparent); z-index: 1; overflow: visible;"
              ></span>
            </h2>
   
            <div class="mt-5">
              <p class="lead mb-4">
                <i class="bi bi-flower1 text-primary me-2"></i>
                Üdvözlünk a gyógynövénykereső weboldalunkon! 🌿 Küldetésünk, hogy segítsünk természetes megoldásokat találni különböző betegségekre és egészségügyi problémákra. Weboldalunkon egyszerűen kereshetsz gyógynövényeket a tüneteid vagy betegségeid alapján, és részletes információkat olvashatsz azok jótékony hatásairól.
              </p>
   
              <p class="mb-4">
                <i class="bi bi-shop text-primary me-2"></i>
                Emellett webshopunkban lehetőséged van a kiválasztott gyógynövények és természetes termékek megrendelésére, így otthonod kényelméből is hozzájuthatsz a természet kincseihez. Folyamatosan bővülő kínálatunkkal és szakértői tartalmainkkal célunk, hogy támogassunk mindenkit a természetes egészségmegőrzés útján.
              </p>
   
              <p class="mb-0 text-center fw-bold">
                <i class="bi bi-heart-pulse text-primary me-2"></i>
                Fedezd fel a gyógynövények világát velünk, és találd meg a számodra legmegfelelőbb természetes megoldásokat! 🌱
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>